.hero-img {
  max-height: 320px;
  object-fit: cover;
  border-radius: 2.5%;
}

@media (min-width: 600px) {
  .hero-img {
    max-height: 500px;
  }
}

@media (min-width: 900px) {
  .hero-img {
    max-height: none;
    width: 400px;
    height: 400px;
  }
}

.testml-review article:not(:first-child) {
  border-top: 1px solid white;
}

@media (min-width: 600px) {
  .testml-review article:not(:first-child) {
    border-top: 0;
  }

  .testml-review article:nth-child(even) {
    border-top: 0;
    border-left: 1px solid white;
  }
}

@media (min-width: 1200px) {
  .testml-review article:not(:first-child) {
    border-left: 1px solid white;
  }
}

.about-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.about-img img {
  border-radius: 2.5%;
}

.about-img__item--top {
  grid-column: 5 / span 7;
  grid-row: 1 / span 6;
  z-index: 1;
}

.about-img__item--bottom {
  grid-column: 1 / span 7;
  grid-row: 2 / span 6;
}